<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

	<title>Lunch Club @ {{ config['org_name'] }}</title>

	<!-- Bootstrap core CSS -->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">

	<!-- D3 -->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/d3.css') }}">
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-cutlery"></span> Lunch Club @ {{ config['org_name'] }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/members">Members</a></li>
            <li><a href="/cliques">Cliques</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	{% for message in get_flashed_messages() %}
		<div class="container">
			<div class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{ message }}
			</div>
		</div>
	{% endfor %}

	{% block body %}{% endblock %}

	<footer class="footer">
		<div class="container">
			<p>&copy; Scott Clark 2013</p>
		</div>
	</footer>

  </body>
</html>
