{% extends "layout.html" %}
{% block body %}

	<div class="container theme-showcase">
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-8">
					<h2>Active Cliques</h2>
					<div class="chart"></div>
				</div>

				<div class="col-md-4">
					<h2>Membership</h2>
					<p>
						<ul class=cliques>
						{% for clique_id, clique in cliques.iteritems() %}
							<div class="panel panel-primary">
								<div class="panel-heading">
									Clique : {{ clique_id }}
								</div>
								<div class="panel-body">
									Start date: {{ clique['start_date'] }}
									<br>
									End date: {{ clique['end_date'] }}
									<div class="btn-group-vertical">
									{% for member_id, member in clique['members'].iteritems() %}
										<a class="btn btn-default" href='/members/{{ member['email'] }}'>{{ member['name'] }} ({{ member.email }})</a>
									{% endfor %}
									</div>
								</div>
							</div>
						{% else %}
							<li>No cliques.</li>
						{% endfor %}
						</ul>
					</p>
					{% if admin %}
						<a type="button" href="/cliques/make" class="btn btn-success">Make new cliques</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<script language="javascript" type="text/javascript">
		var BASE_URL = '/cliques'
		var w = 550, h = 0;
		{% for clique in cliques %}
			h += 200;
		{% endfor %}
	</script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/clique-graph-labeled.js') }}"></script>
{% endblock %}
